    
            .fly-in-text {
                list-style: none;
                left: 50%;
                position: absolute;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
              text-align: center;
            }
            .fly-in-text li {
                display: inline-block;
                margin-right: 30px;
                font-family: Open Sans, Arial;
                font-weight: 300;
                font-size: 2em;
                color: #fff;
                opacity: 1;
                transition: all 2.5s ease;
            }
            .fly-in-text li:last-child {
                margin-right: 0;
            }
            .fly-in-text.hidden li {
                opacity: 0;
            }
            .fly-in-text.hidden li:nth-child(1) { transform: translateX(-200px) translateY(-200px); }
            .fly-in-text.hidden li:nth-child(2) { transform: translateX(20px) translateY(100px); }
            .fly-in-text.hidden li:nth-child(3) { transform: translateX(-150px) translateY(-80px); }
            .fly-in-text.hidden li:nth-child(4) { transform: translateX(10px) translateY(-200px); }
            .fly-in-text.hidden li:nth-child(5) { transform: translateX(-300px) translateY(200px); }
            .fly-in-text.hidden li:nth-child(6) { transform: translateX(20px) translateY(-20px); }
            .fly-in-text.hidden li:nth-child(7) { transform: translateX(30px) translateY(200px); }
              .fly-in-text.hidden li:nth-child(8) { transform: translateX(-200px) translateY(-200px); }
                .fly-in-text.hidden li:nth-child(9) { transform: translateX(30px) translateY(200px); }
                  .fly-in-text.hidden li:nth-child(10) { transform: translateX(30px) translateY(-200px); }
                    .fly-in-text.hidden li:nth-child(11) { transform: translateX(-300px) translateY(200px); }
                      .fly-in-text.hidden li:nth-child(10) { transform: translateX(30px) translateY(-200px); }
                        .fly-in-text.hidden li:nth-child(11) { transform: translateX(300px) translateY(200px); }
                        .fly-in-text.hidden li:nth-child(12) { transform: translateX(-30px) translateY(-200px); }
                        .fly-in-text.hidden li:nth-child(13) { transform: translateX(-150px) translateY(200px); }
                        .fly-in-text.hidden li:nth-child(14) { transform: translateX(30px) translateY(-200px); }
                        .fly-in-text.hidden li:nth-child(15) { transform: translateX(-30px) translateY(200px); }
                        .fly-in-text.hidden li:nth-child(16) { transform: translateX(30px) translateY(-200px); }
                        .fly-in-text.hidden li:nth-child(17) { transform: translateX(30px) translateY(200px); }
                         .fly-in-text.hidden li:nth-child(18) { transform: translateX(-30px) translateY(200px); }
                          .fly-in-text.hidden li:nth-child(19) { transform: translateX(30px) translateY(200px); }

a{
   transition-delay: 3s
}                      

*{
  padding: 0px;
  margin: 0px;
}
nav{
  background-color: transparent;
}
nav#normal{
  color: #C8354E
	position: relative;
	float: none;
  text-align: center;
}
nav#normal ul{
   float: none;	
   margin: 30% 0 0 0;
   position: relative;
   padding: 0;
   transition: all 300ms;
   list-style: none;
}
nav#normal ul li {
	display: inline-block;
	position: relative;
	background-color: transparent;
	opacity: 0.95;
	transition: all 300ms;
}
nav#normal ul li a {
  display: block;
	padding: 2vw;
  min-width: 12rem;
	color: #fff;
	text-decoration: none;
	background: #C8354E
	font-weight: 300;
	transition: all 300ms;
	font-family: "Roboto", sans-serif;
}
nav#normal ul li:hover > a {
	background: #FF4500;
}
nav#normal ul li ul {
	overflow: hidden;
	position: absolute;
	width: 50%;
	transition: 300ms all;
	max-height: 0;
}
nav#normal ul li:hover > ul {
	max-height: 500%;
}
div {
	animation: opacity 5s;
}
@media (min-width: 1050px){
  .mobile-menu ul li, .mobile-menu li a, input[type=checkbox], span, footer {
    display: none;
  }
}
@media screen and (max-width : 1050px){

  nav#normal ul li a, .fly-in-text {
  display: none;
}
.mobile-menu {
  display:block;
  width:100%;
  background: black;
  line-height: 1.6em;
  font-weight: 400;
  width:100%;
  text-align:center;
  position: relative;
  margin:0 auto;
}
.mobile-menu ul {
  list-style-type:none;
  margin: 0 auto;
  padding-left:0;
  text-align:center;
  width:100%;
  position: relative;
  background: black;
}

/*Create a horizontal list with spacing*/
.mobile-menu li {
  display:inline-block;
  /*float: left;
  margin-right: 1px;*/
}

/*Style for menu links*/
.mobile-menu li a {
  display:block;
  min-width:140px;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  text-transform:uppercase;
  background: #black;
  text-decoration: none;
  margin-left:-5px;
  padding: 20px 0;  
-webkit-transition: all 0.4s ease 0s;
-moz-transition: all 0.4s ease 0s;
-ms-transition: all 0.4s ease 0s;
-o-transition: all 0.4s ease 0s;
transition: all 0.4s ease 0s;
}

/*Hover state for top level links*/
.mobile-menu li:hover a {
  color: white;
  background-color: #FF4500;
}

/*Style for dropdown links*/
.mobile-menu li:hover ul a {
  background: #FF4500;
  color: red;
  height: 40px;
  line-height: 40px;
}

/*Hover state for dropdown links*/
.mobile-menu li:hover .mobile-menu ul a:hover {
  color: red;
}
  .mobile-menu .lines {
    border-bottom: 15px double #FF4500; 
    border-top: 5px solid #FF4500; 
    content:"";
    height: 5px; 
    width:20px;
    padding-right:15px;
    float: right;

}
.mobile-menu .show-menu {
  text-decoration: none;
  color: white;
  background: black;
  text-align: center;
  padding: 20px 15px;
  display: none;
  cursor: pointer;
  text-transform: uppercase;
}

.mobile-menu .show-menu span{
   padding-left: 35px;
}

.mobile-menu .lines input[type=checkbox]:checked ~ #menu{
  border-bottom: 5px double #FF4500; 
    border-top: 15px solid #FF4500; 
  height: 20px; 
    width:5px;
}
  /*Make dropdown links appear inline*/
  .mobile-menu ul {
    position: static;
    display: none;
    
  }
  /*Create vertical spacing*/
  .mobile-menu li {
    margin-bottom: 1px;
  }
  /*Make all menu links full width*/
  .mobile-menu ul li, .mobile-menu li a {
    width: 100%;
  }
  /*Display 'show menu' link*/
  .mobile-menu .show-menu {
    display:block;
  }
  .mobile-menu .show-menu span{
   padding-left: 35px;
}

/*Hide checkbox*/
.mobile-menu input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
.mobile-menu input[type=checkbox]:checked ~ #menu{
    display: block;
}
.footer-distributed{
  background-color: black;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 20px 20px;
  position: absolute;
  bottom: 0px;
}
.footer-distributed .footer-left p{
  color:  white;
  font-size: 20px;
  margin: 0;
  text-align: center;
}

.footer-distributed .footer-right{
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a{
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-left: 3px;
}
  }

/* If you don't want the footer to be responsive, remove these media queries */
@media (max-width: 600px) {

  .footer-distributed .footer-left,

  .footer-distributed .footer-left p.footer-links{
    line-height: 1.8;
  }
}
